body {
    background-color: rgb(36, 36, 36);
  }


body {
  margin: 0;
}


.header {
  background-color: rgb(36, 36, 36);
  padding: 20px;
  color: rgb(255,255,255);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}