body {
    background-color: rgb(255, 255, 255);
  }


body {
  margin: 0;
}


.header {
  background-color: rgb(114, 114, 114);
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
  
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}